<div class="container">
    <form ng-submit="submit()" ng-controller="AuctionCreationController" role="form">
        <div class="row">
            <div class="form-group col-lg-5">
                <label for="name">Auction Name</label>
                <input type="text" ng-model="auction.name" id="name" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-5">
                <label for="expires">Auction end date</label>
                <!--<input type='text' data-ng-model="auction.expires" id="expires" class="form-control"/>-->
                <datetimepicker data-ng-model="auction.expires" id="expires"></datetimepicker>
                <!--<input type="text" ng-model="auction.expires" id="expires" class="form-control"/>-->

            </div>
        </div>
        <div class="row">
            <input type="submit" id="create" value="Submit" class="btn btn-defaultˆ"/>
        </div>
    </form>
</div>

